body {
  background-color: #282c34;
}

.app_mobile_background {
  background: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0 0;

  @media (width <= 1024px) {
    background-color: white;
  }
}

.app_mobile_main_container {
  background-color: white;
  width: 393px;
  height: 812px;
  margin: 0 auto;
  text-align: center;
  color: rgb(13, 13, 13);
}
@media (width <= 1024px) {
}
.isMobile {
  width: 393px;
  height: 800px;
}

.isTablet {
  width: 1024px;
  height: 1366px;
}

.isDesktop {
}


.input-box-primary {
  border-radius: 6px;
    padding: 10px 10px;
    border: 1px solid #C9C9C9;
    margin: 5px 0;
}

.input-box-primary::placeholder {
padding: 0 5px;
font-size: 12px;
}

.signup-button-container {
  margin-top: 80px;
}

.socials-button-container {
  width: 330px;
  margin: 0 auto;
  text-decoration: none;
}

.socials-button-container > button:hover{
background: #f6f7f6;
cursor: pointer;
}

.socials-button {
  width: 100%;
  border: 1px solid #C9C9C9;
  border-radius: 12px;
  padding: 6px 0;
  background-color: white;
  margin-top: 10px;

}

#apple-button{
  padding: 10px 0 !important;
  .socials-button-label-text {
    margin-left: 10px;
  }
}
.socials-button-content-container {
  align-items: center;
  display: flex
;
  justify-content: center;
}

.socials-button-label-text {
  margin-left:5px
}