body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Work Sans", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.primary-button-medium {
  background-color: #3d9245;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  border: none;
  margin-top: 25px;
  color: white;
  font-weight: 800;
  font-size: 12px;
  &:hover {
    background-color: rgb(149, 182, 153);
    cursor: pointer;
  }
}

.primary-text-highlight {
  font-weight: 600;
  color: #3d9245;
  &:hover {
    color: #103013;
    cursor: pointer;
  }
}

.left_chevron_back_arrow {
  display: flex;
  margin-right: auto;
  width: auto;
  &:hover {
    cursor: pointer;
  }
}
